 <!--Title-->
 <title>Activity Planner</title>

 
 <div class="container-f"  >
  <nav class="navbar text-dark py-5  " id="sidebar">  
     <ul class="nav d-inline-block min-vh-100" >

        <!--core-->
        <li class="nav-item ">
          <p id="head">CORE</p>
         <div class="container-f">
            <div class="row px-1 ">
                    <div class="col-sm-3 "><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                    <div class="col-sm-7 text-dark d-none d-sm-inline px-0 py-1"><p id="dd">Dashboard</p></div>
            </div> 
         </div>
        </li><br>

        <!--Activity-->
        <li class="nav-item">
           <p id="head">ACTIVITY</p>
           <div class="container-f">
            <div class="row px-1">
              <div class="col-sm-3"><i class="fa fa-tasks" aria-hidden="true"></i></div>
             <div class="col-sm-7 text-dark d-none d-sm-inline px-0"><p id="dd">Create Task</p></div>
        </div>
        <div class="row px-1">
              <div class="col-sm-3"> <i class="fa fa-calendar" aria-hidden="true"></i></div>
              <div class="col-sm-7 d-none d-sm-inline text-dark px-0"><p id="dd">Calendar</p></div>
        </div>
           </div>
        </li><br>

      <!--Shortcut-->
       <li class="nav-item">
        <p id="head">SHORTCUT</p>
         <div class="container-f">
           <div class="row px-1">
            <div class="col-sm-3"><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="col-sm-7 d-none d-sm-inline text-dark px-0 " ><p id="dd">Today</p></div>
          </div>
          <div class="row px-1">
           <div class="col-sm-3  " ><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
           <div class="col-sm-7 d-none d-sm-inline text-dark px-0 "><p id="dd">Tomorrow</p></div>
         </div>
         <div class="row px-1">
           <div class="col-sm-3 "><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></div>
           <div class="col-sm-7 d-none d-sm-inline text-dark px-0"><p id="dd">Next 7 day</p></div>
         </div>
        </div>
       </li><br>

       <!--List-->
       <li class="nav-item">
          <p id="head">LISTS</p>
        </li>
    </ul>   
  </nav>
<!--------------------------------may end--------------------------------------------->
</div>

