  <!--right navbar-->


<nav class="navbar navbar-expand-sm bg-white">
  <i class="fa fa-bars" aria-hidden="true"></i>
  <ul class="navbar-nav ml-auto  mx-1">
      <li class="nav-item">
          
          <a class="nav-link"  href="#">
            About us
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" >
          <i class="fa fa-bell " aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" style="height: 40px; ">
      </li>
  </ul>
</nav>


<!--------------------------Sidebar--------
  <i class="fa fa-bars" aria-hidden="true"></i>
          <a href="#aboutus" class="py-2">About us</a>
          <i class="fa fa-bell py-3" aria-hidden="true"></i>
          <a href="#login" class="py-2"><img src="https://icon-library.com/images/avatar-icon-png/avatar-icon-png-8.jpg" height="70%" width="8%"></a>
           
  --------------------------->
 