 <!--Title-->
 <title>Activity Planner</title>

 <div id="bgimg">
 <!--  navbar -->
 <div class="container-f " id="navbar" >
   <nav class="navbar text-dark">  
      <ul class="nav  d-inline-block min-vh-100" >
 
        <!--core-->
         <li class="nav-item">
           <p id="head">CORE</p>
           <h5>Dashboard</h5>
           <h5>Create Task</h5>
           <h5>Calender</h5>
         </li><hr>
 
       <!--Shortcut-->
        <li class="nav-item">
         <p id="head">SHORTCUT</p>
         <h5>Today</h5>
         <h5>Tomorrow</h5>
         <h5>Next day</h5>
        </li><hr>
 
        <!--List-->
        <li class="nav-item">
           <p id="head">LISTS</p>
         </li><hr>
     </ul>   
   </nav>
 <!--------------------------------may end--------------------------------------------->
 </div>
</div>