.navbar{
    background-color: rgb(255, 255, 255);
    float: left;
    
    
    } 
#head{
        font-weight: bold;
        font-size: small;
        color: rgb(160, 158, 156);
    }

#bgimg{
    background-image: url("https://img.freepik.com/free-vector/simple-gradient-background-vector-winter-blue-pink_53876-105768.jpg?w=2000");
    height: 100vh;
    background-repeat: no-repeat;
}    
    